<div class="filters">
  <div class="filter">
    <label for="genre"><strong>Genre: </strong></label>
      <select class="filter" name="genre" [(ngModel)]="selectedGenreId" (change)="emitFilterGenre()">
          <option [ngValue]="null" [disabled]="true">--Select an option--</option>
          <option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</option>
        </select>
    </div>

  <div class="sort-by">
        <label for="sort-by"><strong>Sort by: </strong></label>
        <select class="sort-by" name="sort-by" [(ngModel)]="selectedSortBy" (change)="emitFilterSortBy()">
          <option [ngValue]="null" [disabled]="true">--Select an option--</option>
          <option *ngFor="let option of sortOptions" [ngValue]="option">{{ option }}</option>
        </select>
  </div>

  <input type="button" value="Clear filters" class="clear" (click)="emitFilterClear()">
</div>