.filters{
    color: white;
    display: flex;
    font-size: larger;
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 150px;
}

.clear {
    margin-right: 150px;
    cursor: pointer;
}

.filter, .sort-by{
    cursor: pointer;
}
