.pagination {
  border-radius: 10px;
  background-color: white;
  margin-left: 500px;
  margin-right: 500px;
}

.button-clicked {
  background: rgb(250, 250, 251);
  border-radius: 5px;
}

.button-clicked:focus {
  background: blue;
}