.pagination {
  border-radius: 10px;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

.button-previous:active, .button-next:active {
  background-color: blue;
}

.selected-page {
  background-color: blue;
}

