<app-filter (filteredGenreEmitter)="selectFilteredGenre($event)"></app-filter>
<div class="container-movie" *ngIf="movieList">
    <div style="height: 55vh; width: 16vw;" *ngFor="let movie of movieList">
      <img class="imag" src="https://image.tmdb.org/t/p/w200{{ movie.poster_path }}" alt="{{ movie.title }} Poster" />
      <p>{{ movie.title }}</p>
      <p>{{ movie.release_date }}</p>
      <p>{{ getGenresByIds(movie.genre_ids).join(', ')}}</p>
    </div>
    <div>
      <button (click)="changePage(currentPage-1)">&lt;&lt;Previous</button>
      <button class="button-clicked" (click)="changePage(1)">1</button>
      <button class="button-clicked" (click)="changePage(2)">2</button>
      <button class="button-clicked" (click)="changePage(3)">3</button>
      <button class="button-clicked" (click)="changePage(4)">4</button>
      <button class="button-clicked" (click)="changePage(5)">5</button>
      <button (click)="changePage(currentPage+1)">Next>></button>
    </div>
  </div>