.container-movie{
  color:white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
}

p {
  margin: 3px 0;
}


.pagination {
  background: #ffffff;
  border-radius: 10px;
}