<div class="container-movie" *ngIf="movieList">
  <div style="height: 55vh; width: 16vw;" *ngFor="let movie of movieList">
    <img class="imag" *ngIf="movie.poster_path" 
         src="https://image.tmdb.org/t/p/w200{{ movie?.poster_path }}"
         [routerLink]="['/detail', movie.id]" />
    <img class="imag" *ngIf="!movie.poster_path" 
         src="../../../assets/Image/Image not found.jpg"
         [routerLink]="['/detail', movie.id]"/>
    <p>{{ movie.title }} ({{ movie?.release_date | date:'yyyy' }})</p>
    <p>{{ getGenresByIds(movie.genre_ids).join(', ')}}</p>
  </div>
</div>
